/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Mi estilo */

.modo-oscuro {
	background-color: #222;
	color: #fff;
}

hr{
	border-color: black;
	border-width: 10px;
}

.lista{
	display: flex; justify-content: center; align-items: center;
}

.lista2{
	display: flex; justify-content: center; align-items: center;
}

.title{
	background: black;
	color: white;
	margin-bottom: 75px; font: 60px 'Sigmar';	
}

body{
	text-align: center;
}
header{
	background: yellow;
}

#mapa{
	position: relative;
	top: -30px;
}

#gif2{
	position: relative;
	left: -200px;
	margin-top: 200px;
}

#geiser{
	position: relative;
	left: -900px;
}

#robo{
	position: relative;
	right: -500px;
}

#tiendapinguino{
	position: relative;
	left: -500px;
}

#descargapinguino{
	position: relative;
	top: 0;
	left: 900px;
}

#clubpenguin{
	position: relative;
	top: -550px;
	left: -300px;
}

#gif{
	position: relative;
	top: 0;
	left: -100px;
}

.navbar{
	height: 63px; background: black;
	display: flex; justify-content: center; align-items: center;
}
.navbar a{
	color: floralwhite; padding: 0 20px;
	font-size: 20px;
}
	
.descripcion{
	margin-bottom: 50px;
}

.lista li{
	margin-right: 60px;
}

.fa-facebook,.fa-twitter,.fa-instagram,.fa-discord{
	margin: 50px;
	font-size: 60px;
	margin-left: 30px;
}

/* FORMULARIO ESTILO */
form {
	width: 300px;
	margin-left: 900px;
	margin-top: -400px;
  }

  label {
	display: block;
	margin-top: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

  textarea {
	height: 100px;
  }

  button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  button:hover {
	background-color: #45a049;
  }

.Contactanos{
	margin-top: 200px;
	margin-bottom: 100px;
}

#redes{
	margin-left: -50px;
}